@charset "utf-8";
/* CSS Document */
html,body,ul,li{
	margin:0;
	padding:0;
	}
.box{
	margin:100px auto;
	height:200px;
	width:800px;
	}
ul{
	height:53px;
	width:800px;
	background-color:#f4f4f4;
	}
li{
	list-style:none;
	height:53px;
	float:left;
	
	}
li a{
	display:block;
	height:53px;
	text-decoration:none;
	}
li a span{
	display:block;
	padding:0 30px;
	height:47px;
	line-height:47px;
	background:url(../img/nav3-1.jpg) repeat-x;
	border-right:1px solid #e7e7e7;
	border-bottom:1px solid #e7e7e7;
	}
li a .btn{
	height:5px;
	width:100%;
	
	}
li a:hover {
	color:#0080a5;
	}
li a:hover .btn{
	background-color:white;
	}
