@charset "utf-8";
/* CSS Document */
body,html,ul,li{
	margin:0;
	padding:0;
	}
.box{
	height:100px;
	width:800px;
	margin:200px auto;
	background:#ffffce;
	padding:10px 0;
	}
ul{
	height:35px;
	width:800px;
	background-color:#9c0000;
	}
li{
	list-style:none;
	float:left;
	border-left:1px solid #9c0000;
	border-right:1px solid #000000;
	}
a{
	font-size:12px;
	display:block;
	text-decoration:none;
	height:28px;
	line-height:26px;
	padding:0 27px;
	border-top:4px solid #FFF;
	background-color:#ff6100;
	color:black;
	}
a:hover{
	color:#ffff00;
	background-color:black;
	border-top:4px solid #9c0000;
	}
