html,body,li,ul,p,figcaption,figure,header,footer,article{
	margin:0;
	padding: 0;
}
html,body{
	height: 100%;
}
body{
	display: flex;
	flex-direction: column;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}

header{
	/*width:100vw;*/
	height:13.75vw;/*88px;*/
	background:#0dc441;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	flex-shrink: 0;
}
header a{
	width:18.6vw;
	height:7.5vw;
	background:rgba(255,255,255,0.4);
	display: flex;
	justify-content: center;
	align-items:center;
	color: #ffffff;
	font-size: 3.75vw;
	opacity:0.5;
}
header a:nth-child(1){
	border-top-left-radius:3.75vw;
	border-bottom-left-radius:3.75vw;
	opacity:1;
}
header a:nth-child(2){
	border-top-right-radius:3.75vw;
	border-bottom-right-radius:3.75vw;
}
section{
	overflow: auto;
	display:flex;
	flex-direction: column;
}
section nav{
	display: flex;
	height:10.94vw;
	justify-content:space-around;
	align-items: center;
	border-bottom: 1px solid #ccc;
	flex-shrink:0;
	position:fixed;
	background:rgba(255,255,255,0.7);
}
section nav a{
	display: flex;
	box-sizing: border-box;
	width:33.3vw;
	height:inherit;
	align-items: center;
	justify-content: center;
	color:#666666;
	font-size: 4.375vw;
}
section nav a:nth-of-type(1){
	color:#0dc441;
	border-bottom: 2px solid #0dc441;
}
section nav a:active{
	color:#0dc441;
	border-bottom: 2px solid #0dc441;
}
section .content{
	padding-top:10.8vw;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	overflow:auto;
	
}
section .content article a{
	display: block;
	display:flex;
	width:49.3vw;
	height:58.4vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border:1px solid #ccc;
}
section .content article a .img{
	width:49.3vw;
	height:49.3vw;
	background: url(../img/1.jpg) no-repeat center top;
	border-bottom:1px solid #ccc;
	background-size:cover;
}
section .content article a p{
	width:inherit;
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	font-size: 3.75vw;
	color: #000;
}
footer{
	display:flex;
	justify-content:space-around;
	align-items:center;
	height:13.75vw;
	color: #ffffff;
	font-size: 3.7vw;
	border-top: 1px solid #ccc;
	flex-shrink:0;
}
footer a figure{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color:#bbb;
}
footer a:nth-of-type(3) figure{
	border: 1px solid #ccc;
	width:16.5vw;
	height:16.5vw;
	background:#fff;
	border-radius:50%;
	position: fixed;
	bottom:0;
	left:50%;
	margin-left:-8.25vw;
}
footer a:nth-of-type(3) figure span{
	font-size:12vw;
}
