@charset "utf-8";
/* CSS Document */
.bg{
	width:500px;
	height:500px;
	margin:10px auto;
	background-color:#444444;
	padding:50px;
	}
.box{
	width:480px;
	height:500px;
	background-color:#666;
	border:1px solid #FFF;
	padding:0 0 0 20px;
	}
h3{
	color:#FFF;
	text-align:center;
	}
.con .imgs{
	width:300px;
	height:200px;
	float:left;
	border:1px solid #FFF;
	
	overflow:hidden;
	margin:20px 20px 0 0;
	}
.imgs img{
	width:100%;
	height:100%
	}
.links{
	height:200px;
	width:68px;
	float:left;
	margin:20px 10px 0 0;
	overflow-y:auto;
	overflow-x:hidden;
	}
.links a{
	display:block;
	width:56px;
	height:39px;
	border:1px solid #FFF;
	margin:0 0 12px 0;
	}