@charset "utf-8";
/* CSS Document */
html,body,li,ul,p{
	margin:0;
	padding:0;
	}
.box{
	width:1210px;
	margin:0 aoto;
	}
a{
	text-decoration:none;
	}
.left{
	height:474px;
	width:210px;
	background-color:#edf7f8;
	float:left;
	}
ul{
	width:1000px;
	float:left;
	}
li{
	list-style:none;
	float:left;
	}
.pa{
	padding:28px 0 0 25px;
	}
.pa a{
	font-size:12px;
	color:#000;
	}
.pa .a2{
	color:#CCC;
	}
.pa .red{
	color:#c81322;
	}
li{
	height:236px;
	width:199px;
	border-right:1px solid #ededed;
	border-bottom:1px solid #ededed;
	}
.img{
	width:199px;
	height:165px;
	text-align:center;
	border-bottom:1px solid #ededed;
	}
.img img{
	vertical-align:middle;
	}
.img span{
	display:inline-block;
	vertical-align:middle;
	height:165px;
	}
li p{
	margin-left:18px;
	font-size:12px;
	color:#686868;
	margin-top:10px;
	}
li .p1{
	color:red;
	margin-top:20px;
	}