@charset "utf-8";
/* CSS Document */
html,body,div,ul,li{
	margin:0;
	padding:0;
	}
a{
	text-decoration:none;
}
.box{
	margin:50px auto;
	width:800px;
	height:35px;
	}
ul{
	height:35px;
	width:800px;
	border-bottom:1px solid #9f9f9f;
	
  }
li{
	float:left;
	list-style:none;
	height:34px;
	margin:0 0 0 20px;
	}
li a{
	display:inline-block;
	height:34px;
	padding:0 12px;
	background-color:#f7f7f7;
	border-top:1px solid #d4d4d4;
	border-left:1px solid #d4d4d4;
	border-right:1px solid #d4d4d4;
	line-height:34px;
	}
li a:hover{
	height:39px;
	margin-top:-4px;
	line-height:39px;
	background-color:white;
	border-top:1px solid #9f9f9f;
	border-left:1px solid #9f9f9f;
	border-right:1px solid #9f9f9f;
	}